<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="javascript:void(0)">Logo</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mynavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item" style="margin-top: -12px">
          <a class="nav-link active" routerLink="users">Get User</a>
        </li>
        <li class="nav-item" style="margin-top: -12px">
          <a class="nav-link" routerLink="images">Images</a>
        </li>
        <li class="nav-item" style="margin-top: -12px">
          <a class="nav-link" href="javascript:void(0)">Link</a>
        </li>
      </ul>
      <form class="d-flex">
        <ul class="navbar-nav me-auto">
          <p class="nav-item" style="color: white; margin-top: 9px; margin-right: 5px;">{{username}}</p>
          <a class="navbar-brand" style="cursor:pointer;" (click)="lgnService.Logout()">Logout</a>
        </ul>
      </form>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
